@font-face {
    font-family: 'Better Grade';
    src: url('/fonts/BetterGrade.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* tags */
canvas {
    background: white;
}


/* id */
#root {
    display: contents;
}


/* classes */
.MuiTypography-h4{
    color: white;
    padding: 40px 0 40px 0;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    outline:red !important;
    border-color: red;
}

a {
  text-decoration: none !important;
}

.author-signature {
  color: #99d9d9;
  padding: 8px;
  font-style: italic;
  margin: 0 12px;
  font-size: 1rem;
  display: inline-block;
  transition: transform 0.2s cubic-bezier(0.4,0,0.2,1), border-color 0.5s cubic-bezier(0.4,0,0.2,1);
  border: 1px solid #035d59;
  border-radius: 5px;
  vertical-align: top;
  line-height: 1;
  font-weight: 400;
}
.author-signature:hover {
  border: 1px solid #99d9d9;
  color: #99d9d9;
}